export TEST_DEV=non1
export TEST_DIR=/mnt/test
export SCRATCH_DEV=non2
export SCRATCH_MNT=/mnt/scratch
export FSTYP=fuse
export FUSE_SUBTYP=.passthrough
export MOUNT_OPTIONS=""
export TEST_FS_MOUNT_OPTS=""

PASSTHROUGH_PATH=/home/nikratio/libfuse/build/example/passthrough_hp
SCRATCH_SOURCE=/mnt/src/scratch
TEST_SOURCE=/mnt/src/test
