export TEST_DEV=source:/mnt/src/test
export TEST_DIR=/mnt/test

export SCRATCH_DEV=source:/mnt/src/scratch
export SCRATCH_MNT=/mnt/scratch

export FSTYP=fuse
export FUSE_SUBTYP=.passthrough
export MOUNT_OPTIONS=""
export TEST_FS_MOUNT_OPTS=""

# extra binary options, such as '--direct-io' or '--nopassthrough', etc
export EXTRA_BIN_OPTIONS=""

# If PASSTHROUGH_PATH is unset, the mount helper is going to look
# for the binary '${FUSE_SUBTYP}', though omitting the leading dot '.'.
# Example:
#       with FUSE_SUBTYP=".passthrough", the mount helper is called
#       'mount.fuse.passthrough' and that would try to run
#       'passthrough'.
# export PASSTHROUGH_PATH=<path-to-libfuse-build>/example/passthrough_hp
